.sonarr_widget {
    width: 500px;
    height: 500px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.img_container{
    width: 150px;
}
.info_data{
    font-size: 1em;
}
.info_data:empty { 
    display: none; 
 } 
