<div id="plugin_container" class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-translate-category="#translate_category#" data-category="#category#" data-eqLogic_id="#id#" data-version="#version#" >
<link rel="stylesheet" href="plugins/sonarr/core/template/dashboard/css/style.css"/>
<div class="text-center widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </div>
<div>
    <legend id="title_futur" style="color : white;margin-bottom:2px;"><b>Episodes à venir:</b></legend>
    <div id="div_futur" class="div_vertical">
        <div id="div_futur_0" class="div_horizontal">
            <img class="ddl_img_poster" src=#futur_img_0#>
            <div class="info_data">#futur_title_0#</div>
            <div class="info_data">#futur_date_0#</div>
            <img class="ddl_img_icon" id="ddl_futur_0" src="plugins/sonarr/core/template/dashboard/imgs/downloaded_icon.svg" alt="downloaded_icon"/>
            <div class="info_data">#info_supp_0#</div>
        </div>
        <div id="div_futur_1" class="div_horizontal">
            <img class="ddl_img_poster" src=#futur_img_1#>
            <div class="info_data">#futur_title_1#</div>
            <div class="info_data">#futur_date_1#</div>
            <img class="ddl_img_icon" id="ddl_futur_1" src="plugins/sonarr/core/template/dashboard/imgs/downloaded_icon.svg" alt="downloaded_icon"/>
            <div class="info_data">#info_supp_1#</div>
        </div>
        <div id="div_futur_2" class="div_horizontal">
            <img class="ddl_img_poster" src=#futur_img_2#>
            <div class="info_data">#futur_title_2#</div>
            <div class="info_data">#futur_date_2#</div>
            <img class="ddl_img_icon" id="ddl_futur_2" src="plugins/sonarr/core/template/dashboard/imgs/downloaded_icon.svg" alt="downloaded_icon"/>
            <div class="info_data">#info_supp_2#</div>
        </div>
    </div>
</div>
<script>
    var visibility_missing = "#visibility_futur#";
    if (visibility_missing == 0) {
        document.getElementById('title_futur').style.display = 'none';
        document.getElementById('div_futur').style.display = 'none';
    } else {
        if ("#futur_img_0#" == "") {
            document.getElementById('div_futur_0').style.display = 'none';
        } else {
            var downloaded = "#downloaded_0#";
            if (downloaded == false) {
                document.getElementById('ddl_futur_0').style.display = 'none';
            }
        }
        if ("#futur_img_1#" == "") {
            document.getElementById('div_futur_1').style.display = 'none';
        } else {
            var downloaded = "#downloaded_1#";
            if (downloaded == false) {
                document.getElementById('ddl_futur_1').style.display = 'none';
            }
        }
        if ("#futur_img_2#" == "") {
            document.getElementById('div_futur_2').style.display = 'none';
        } else {
            var downloaded = "#downloaded_2#";
            if (downloaded == false) {
                document.getElementById('ddl_futur_2').style.display = 'none';
            }
        }
    }
    if ('#refresh_id#' != ''){
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'});
      });
    }else{
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
    }
</script>


<span class="statusCmd" style="position : absolute;left : 5px;bottom : 0px;width : 30px;height : 30px;z-index: 1030;"></span>
</div>